In [1]:
import numpy as np
import pandas as pd

In [3]:
train_data =pd.read_csv('train_data.csv')
train_target =pd.read_csv('train_target.csv')
test_data =pd.read_csv('test_data.csv')
data_description =pd.read_csv('data_description.csv')
train_data=train_data.iloc[:,1:]

C:\Users\latte\AppData\Local\Temp\ipykernel_1388\1020304786.py:1: DtypeWarning: Columns (12,28,29,30,116,128) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data =pd.read_csv('train_data.csv')
C:\Users\latte\AppData\Local\Temp\ipykernel_1388\1020304786.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  test_data =pd.read_csv('test_data.csv')

In [28]:
data_description[10:20]

,Column,Description,Type,Value
10,Q1_IndBD_2,รูปแบบอุตสาหกรรมการผลิต/ การขายส่งขายปลีก (ดู ...,BD1-BD30,NaN
11,Q1_IndBD_3,รูปแบบอุตสาหกรรมการผลิต/ การขายส่งขายปลีก (ดู ...,BD1-BD30,NaN
12,Q1_Occ_Year,ระยะเวลาที่ทำอาชีพ,ปี,NaN
13,Q1_OCC_A,กรณีสัญญาจ้างชั่วคราว โปรดระบุระยะเวลาที่เหลือ...,"0,1",0: ไม่ระบุ 1: ระบุ
14,Q1_OCC_A_Month,กรณีสัญญาจ้างชั่วคราว โปรดระบุระยะเวลาที่เหลือ...,เดือน,NaN
15,Q1_OCC_B,กรณีทำธุรกิจส่วนตัว/ ผู้ประกอบการด้านการเกษตรห...,"0,1",0: ไม่ระบุ 1: ระบุ
16,Q1_OCC_B_Num,กรณีทำธุรกิจส่วนตัว/ ผู้ประกอบการด้านการเกษตรห...,คน,จำนวนลูกจ้าง 0: ไม่มีลูกจ้าง
17,Q1_OCC_C,กรณีรับจ้างทั่วไป,"0,1",0: ไม่ระบุ 1: ระบุ
18,Q1_Occ_Have,กรณีรับจ้างทั่วไป,"1,2",1: มีนายจ้างประจำ 2: ไม่มีนายจ้างประจำ
19,Q2,2. ทำอาชีพอื่น ๆ ควบคู่ไปกับอาชีพข้างต้น หรือเ...,"1,2",1: ไม่ 2: มีอาชีพอื่น

In [40]:
data_description.iloc[19,:]

Column                                                        Q2
Description    2. ทำอาชีพอื่น ๆ ควบคู่ไปกับอาชีพข้างต้น หรือเ...
Type                                                         1,2
Value                                      1: ไม่ 2: มีอาชีพอื่น
Name: 19, dtype: object

In [258]:
nanval= [ len(train_data[(train_data.iloc[:,i] == 888)|(train_data.iloc[:,i] == '888')| (train_data.iloc[:,i]==999)| (train_data.iloc[:,i]=='999')  | train_data.iloc[:,i].isna()])/20966*100 for i in range(143)]

In [262]:
selected_noSenten=data_description['Type']!='ข้อความ'
selected_c1=[i for i in range(143) if (nanval[i]>=0)&(nanval[i]<1)&(selected_noSenten[i])]

In [263]:
len(selected_c1)

77

In [281]:
train_data.isna().any().value_counts()

False    143
dtype: int64

In [264]:
train_data.iloc[0,:]

Area                   1
SubDistrict      หนองบอน
District          ประเวศ
Province        กรุงเทพฯ
Region                 1
                  ...
Youtube                0
Twitter                0
OtherApp               0
OtherAppSpec         888
NoSocial               0
Name: 0, Length: 143, dtype: object

In [265]:
data_description.iloc[selected_c1,:]

,Column,Description,Type,Value
0,Area,พื้นที่เก็บข้อมูล,1-3,1: กรุงเทพ 2: ในเขต 3: นอกเขต
4,Region,ภาค,1-5,NaN
5,Q1_OccStatus,1. อาชีพที่เป็นรายได้หลักในปัจจุบัน,1-6,1: ธุรกิจส่วนตัว/ ค้าขาย หรือบริการรายย่อย 2:...
7,Q1_OccCode,รหัสอาชีพ (ดู occupation),A1-Q4,NaN
8,Q1_OccInd,รหัสอุตสาหกรรม (ดู occupation),A-Q,NaN
...,...,...,...,...
124,Edu,ระดับการศึกษาชั้นสูงสุดที่สำเร็จมา,1-6,1: ประถมศึกษาหรือต่ำกว่า 2: มัธยมศึกษาตอนต้น ...
125,Salary,รายได้ครอบครัวเฉลี่ยต่อเดือน,1-7,"1: ไม่เกิน 10,000 บาท 2: 10,001 - 20,000 บาท ..."
126,Live,คุณพักอาศัยอยู่กับใคร,1-7,1: อยู่คนเดียว 2: อยู่กับพ่อแม่ 3: อยู่กับคร...
128,Owner,คุณมีที่อยู่อาศัยเป็นของตัวเอง หรือไม่ (มีชื่อ...,"1,2",1: มีที่อยู่อาศัยเป็นของตัวเอง \r\n2: ไม่มีท...
132,Line,ความจำเป็นในการใช้แอปพลิเคชันไลน์ (Line) ในการ...,"1,2",1: จำเป็น 2: ไม่จำเป็น

In [393]:
data_description[data_description['Type']=='ข้อความ']

,Column,Description,Type,Value
1,SubDistrict,ตำบล/ แขวง,ข้อความ,NaN
2,District,อำเภอ/ เขต,ข้อความ,NaN
3,Province,จังหวัด,ข้อความ,NaN
6,Q1_Occ,อาชีพ,ข้อความ,NaN
22,Q2.1_Occ,อาชีพ,ข้อความ,NaN
27,Q2.2_Occ,อาชีพ,ข้อความ,NaN
39,Q3.3Reason,เหตุผลที่เปลี่ยนงาน เนื่องจาก,ข้อความ,NaN
47,Q4_7Other,ปัญหาอื่น ๆ จากการประกอบอาชีพในปัจจุบัน,ข้อความ,NaN
74,Q5_9Other,หนี้สินอื่น ๆ,ข้อความ,NaN
103,Q9_9Other,การออม/ ลงทุน อื่นๆ,ข้อความ,NaN
106,Q10.1_1,ชื่อบัญชีเงินฝาก,ข้อความ,NaN
107,Q10.1_2,ชื่อบัญชีเงินฝาก,ข้อความ,NaN
108,Q10.1_3,ชื่อบัญชีเงินฝาก,ข้อความ,NaN
109,Q10.1_4,ชื่อบัญชีเงินฝาก,ข้อความ,NaN
110,Q10.1_5,ชื่อบัญชีเงินฝาก,ข้อความ,NaN
111,Q10.2_1,(10.2 จากบัญชีเงินฝากข้างต้น บัญชีธนาคารใดที่ม...,ข้อความ,NaN
112,Q10.2_2,ชื่อบัญชีเงินฝากที่มีการเคลื่อนไหวประจำ,ข้อความ,NaN
113,Q10.2_3,ชื่อบัญชีเงินฝากที่มีการเคลื่อนไหวประจำ,ข้อความ,NaN
114,Q10.2_4,ชื่อบัญชีเงินฝากที่มีการเคลื่อนไหวประจำ,ข้อความ,NaN
115,Q10.2_5,ชื่อบัญชีเงินฝากที่มีการเคลื่อนไหวประจำ,ข้อความ,NaN
127,LiveOther,ผู้ที่พักอาศัยอยู่ด้วย อื่นๆ,ข้อความ,NaN
131,AssetOther,ทรัพย์สินอื่น ๆ ที่มีชื่อเป็นผู้ถือกรรมสิทธิ์,ข้อความ,NaN
141,OtherAppSpec,วิธี/แอปพลิเคชัน อื่น ๆ,ข้อความ,NaN

In [395]:
data_description[5:15]

,Column,Description,Type,Value
5,Q1_OccStatus,1. อาชีพที่เป็นรายได้หลักในปัจจุบัน,1-6,1: ธุรกิจส่วนตัว/ ค้าขาย หรือบริการรายย่อย 2:...
6,Q1_Occ,อาชีพ,ข้อความ,NaN
7,Q1_OccCode,รหัสอาชีพ (ดู occupation),A1-Q4,NaN
8,Q1_OccInd,รหัสอุตสาหกรรม (ดู occupation),A-Q,NaN
9,Q1_IndBD_1,รูปแบบอุตสาหกรรมการผลิต/ การขายส่งขายปลีก (ดู ...,BD1-BD30,NaN
10,Q1_IndBD_2,รูปแบบอุตสาหกรรมการผลิต/ การขายส่งขายปลีก (ดู ...,BD1-BD30,NaN
11,Q1_IndBD_3,รูปแบบอุตสาหกรรมการผลิต/ การขายส่งขายปลีก (ดู ...,BD1-BD30,NaN
12,Q1_Occ_Year,ระยะเวลาที่ทำอาชีพ,ปี,NaN
13,Q1_OCC_A,กรณีสัญญาจ้างชั่วคราว โปรดระบุระยะเวลาที่เหลือ...,"0,1",0: ไม่ระบุ 1: ระบุ
14,Q1_OCC_A_Month,กรณีสัญญาจ้างชั่วคราว โปรดระบุระยะเวลาที่เหลือ...,เดือน,NaN

In [266]:
data_description['Type'].value_counts()

0,1            47
จำนวนเงิน      24
ข้อความ        23
1,2            10
1-3             5
ปี              4
เดือน           4
1-6             4
BD1-BD30        3
A-Q             3
A1-Q4           3
1-7             3
คน              2
1-5             2
จำนวนบัญชี      2
จำนวนอาชีพ      1
ครั้ง           1
วัน             1
เปอร์เซ็นต์     1
Name: Type, dtype: int64

In [304]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import preprocessing

In [311]:
y=train_target['Car']
X=train_data.iloc[:,selected_c1]

In [315]:
X.dtypes.value_counts()

int64      70
float64     5
int32       2
dtype: int64

In [275]:
X.dtypes[X.dtypes=='object']

Q1_OccCode    object
Q1_OccInd     object
dtype: object

In [271]:
X['Q1_OccInd']

0        L
1        D
2        D
3        C
4        L
        ..
20961    D
20962    D
20963    D
20964    P
20965    L
Name: Q1_OccInd, Length: 20966, dtype: object

In [244]:
X['Q1_IndBD_2'].value_counts()

999     13849
888      6976
BD2        66
BD1        36
BD27        6
BD25        4
BD6         4
BD15        4
BD5         4
BD23        3
BD26        2
BD13        2
BD29        2
BD3         2
BD8         2
BD28        1
BD14        1
BD17        1
BD4         1
Name: Q1_IndBD_2, dtype: int64

In [250]:
train_data.columns.get_loc('Q1_IndBD_2')

10

In [308]:
X['Q1_OccCode'].value_counts()

D4     8714
D1     4941
F5     1254
F6      825
A1      427
       ...
H2        1
O14       1
K12       1
K13       1
O8        1
Name: Q1_OccCode, Length: 132, dtype: int64

In [314]:
le1 = preprocessing.LabelEncoder()
le1.fit(train_data['Q1_OccInd'])

le2 = preprocessing.LabelEncoder()
le2.fit(train_data['Q1_OccCode'])

X['Q1_OccInd'] = le1.transform(train_data['Q1_OccInd'])
X['Q1_OccCode'] = le2.transform(train_data['Q1_OccCode'])

C:\Users\latte\AppData\Local\Temp\ipykernel_1388\3928055791.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Q1_OccInd'] = le1.transform(train_data['Q1_OccInd'])
C:\Users\latte\AppData\Local\Temp\ipykernel_1388\3928055791.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Q1_OccCode'] = le2.transform(train_data['Q1_OccCode'])

In [302]:
X['Q1_OccInd']

0        17
1         5
2         5
3         3
4        17
         ..
20961     5
20962     5
20963     5
20964    22
20965    17
Name: Q1_OccInd, Length: 20966, dtype: int32

In [390]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error,accuracy_score


train_X, val_X, train_y, val_y = train_test_split(X, y,test_size=0.3, random_state=1)

my_model =RandomForestClassifier()

my_model.fit(train_X, train_y)
melb_preds = my_model.predict(val_X)
print(accuracy_score(val_y, melb_preds))

0.7715421303656598

In [391]:
import  xgboost as xgb

xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42,eval_metric="auc",booster='gbtree')
my_model.fit(train_X, train_y)
melb_preds = my_model.predict(val_X)

print(accuracy_score(val_y, melb_preds))

0.7701112877583466

In [388]:
melb_preds

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

In [384]:
print(accuracy_score(val_y, melb_preds))

0.7701039778689307

In [359]:
train_y

17898    1
11268    0
6439     0
19307    1
19316    1
        ..
10955    1
17289    0
5192     0
12172    0
235      0
Name: Car, Length: 10483, dtype: int64

In [322]:
y

0        0
1        0
2        0
3        0
4        0
        ..
20961    0
20962    0
20963    1
20964    0
20965    0
Name: Car, Length: 20966, dtype: int64